.transition-element {
  background-color: #1c79f0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.transition0 {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.transition0.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.transition1 {
  transition: opacity 0.5s ease;

  opacity: 0;
}

.transition1.active {
  transition: opacity 0.5s ease;

  opacity: 1;
}

.transition2 {
  transition: top 0.5s ease-in;
  top: 100%;
}
.transition2.active {
  transition: top 0.5s ease;

  top: 0;
}

.transition3 {
  transition: bottom 0.5s ease-in;
  bottom: 100%;
}
.transition3.active {
  transition: bottom 0.5s ease;
  bottom: 0;
}

.transition4 {
  left: 100%;
  transition: left 0.5s ease-in;
}
.transition4.active {
  left: 0;
  transition: left 0.5s ease;
}

.transition5 {
  right: 100%;
  transition: right 0.5s ease-in;
}
.transition5.active {
  right: 0;
  transition: right 0.5s ease;
}

.transition6 {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.transition6.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.transition7 {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.transition7.active {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.transition8 {
  top: 100%;
  transition: top 0.5s ease-in;
}
.transition8.active {
  top: 0;
  transition: top 0.5s ease;
}
.transition9 {
  bottom: 100%;
  transition: bottom 0.5s ease;
}
.transition9.active {
  bottom: 0;
  transition: bottom 0.5s ease;
}

.transition10 {
  left: 100%;
  transition: left 0.5s ease;
}
.transition10.active {
  left: 0;
  transition: left 0.5s ease;
}
